body {
  margin: 0 auto;
  color: rgb(106, 16, 16);
  text-align: center;

}

.ContactForm {
flex-direction: column;
display: flex;
}

input {
  width: 500px;
  margin-bottom: 20px;
}

.formBtn {
  margin: 0 auto;
    margin-bottom: 20px;
  width: 509px;
}